


/* _________________________*/

/* Headers */
.csc-header-alignment-center { text-align: center; }
.csc-header-alignment-right { text-align: right; }
.csc-header-alignment-left { text-align: left; }

div.csc-textpic-responsive, div.csc-textpic-responsive * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;  }

/* Clear floats after csc-textpic and after csc-textpic-imagerow */
div.csc-textpic, div.csc-textpic div.csc-textpic-imagerow, ul.csc-uploads li { overflow: hidden; }

/* Set padding for tables */
div.csc-textpic .csc-textpic-imagewrap table { border-collapse: collapse; border-spacing: 0; }
div.csc-textpic .csc-textpic-imagewrap table tr td { padding: 0; vertical-align: top; }

/* Settings for figure and figcaption (HTML5) */
div.csc-textpic .csc-textpic-imagewrap figure, div.csc-textpic figure.csc-textpic-imagewrap { margin: 0; display: table; }

/* Captions */
figcaption.csc-textpic-caption { display: table-caption; }
.csc-textpic-caption { text-align: left; caption-side: bottom; }
div.csc-textpic-caption-c .csc-textpic-caption, .csc-textpic-imagewrap .csc-textpic-caption-c { text-align: center; }
div.csc-textpic-caption-r .csc-textpic-caption, .csc-textpic-imagewrap .csc-textpic-caption-r { text-align: right; }
div.csc-textpic-caption-l .csc-textpic-caption, .csc-textpic-imagewrap .csc-textpic-caption-l { text-align: left; }

/* Float the columns */
div.csc-textpic div.csc-textpic-imagecolumn { float: left; }

/* Border just around the image */
/*{$styles.content.imgtext.borderSelector} {*/
/*border: {$styles.content.imgtext.borderThick}px solid {$styles.content.imgtext.borderColor};*/
/*padding: {$styles.content.imgtext.borderSpace}px {$styles.content.imgtext.borderSpace}px;*/
/*}*/

div.csc-textpic .csc-textpic-imagewrap img { border: none; display: block; }

/* Space below each image (also in-between rows) */
/*div.csc-textpic .csc-textpic-imagewrap .csc-textpic-image { margin-bottom: {$styles.content.imgtext.rowSpace}px; }*/
div.csc-textpic .csc-textpic-imagewrap .csc-textpic-imagerow-last .csc-textpic-image { margin-bottom: 0; }

/* colSpace around image columns, except for last column */
/*div.csc-textpic-imagecolumn, td.csc-textpic-imagecolumn .csc-textpic-image { margin-right: {$styles.content.imgtext.colSpace}px; }*/
div.csc-textpic-imagecolumn.csc-textpic-lastcol, td.csc-textpic-imagecolumn.csc-textpic-lastcol .csc-textpic-image { margin-right: 0; }

/*!* Add margin from image-block to text (in case of "Text & Images") *!*/
/*div.csc-textpic-intext-left .csc-textpic-imagewrap,*/
/*div.csc-textpic-intext-left-nowrap .csc-textpic-imagewrap {*/
/*margin-right: {$styles.content.imgtext.textMargin}px;*/
/*}*/
/*div.csc-textpic-intext-right .csc-textpic-imagewrap,*/
/*div.csc-textpic-intext-right-nowrap .csc-textpic-imagewrap {*/
/*margin-left: {$styles.content.imgtext.textMargin}px;*/
/*}*/

/* Positioning of images: */

/* Center (above or below) */
div.csc-textpic-center .csc-textpic-imagewrap, div.csc-textpic-center figure.csc-textpic-imagewrap { overflow: hidden; }
div.csc-textpic-center .csc-textpic-center-outer { position: relative; float: right; right: 50%; }
div.csc-textpic-center .csc-textpic-center-inner { position: relative; float: right; right: -50%; }

/* Right (above or below) */
div.csc-textpic-right .csc-textpic-imagewrap { float: right; }
div.csc-textpic-right div.csc-textpic-text { clear: right; }

/* Left (above or below) */
div.csc-textpic-left .csc-textpic-imagewrap { float: left; }
div.csc-textpic-left div.csc-textpic-text { clear: left; }

/* Left (in text) */
div.csc-textpic-intext-left .csc-textpic-imagewrap { float: left; }

/* Right (in text) */
div.csc-textpic-intext-right .csc-textpic-imagewrap { float: right; }

/* Right (in text, no wrap around) */
div.csc-textpic-intext-right-nowrap .csc-textpic-imagewrap { float: right; }

/* Left (in text, no wrap around) */
div.csc-textpic-intext-left-nowrap .csc-textpic-imagewrap { float: left; }

div.csc-textpic div.csc-textpic-imagerow-last, div.csc-textpic div.csc-textpic-imagerow-none div.csc-textpic-last { margin-bottom: 0; }

/* Browser fixes: */

/* Fix for unordered and ordered list with image "In text, left" */
.csc-textpic-intext-left ol, .csc-textpic-intext-left ul { padding-left: 40px; overflow: auto; }

/* File Links */
ul.csc-uploads { padding: 0; }
ul.csc-uploads li { list-style: none outside none; margin: 1em 0; }
ul.csc-uploads img { float: left; margin-right: 1em; vertical-align: top; }
ul.csc-uploads span { display: block; }
ul.csc-uploads span.csc-uploads-fileName { text-decoration: underline; }

/* Table background colors: */

/*table.contenttable-color-1 { background-color: {$styles.content.table.backgroundColor.1}; }*/
/*table.contenttable-color-2 { background-color: {$styles.content.table.backgroundColor.2}; }*/
/*table.contenttable-color-240 { background-color: {$styles.content.table.backgroundColor.240}; }*/
/*table.contenttable-color-241 { background-color: {$styles.content.table.backgroundColor.241}; }*/
/*table.contenttable-color-242 { background-color: {$styles.content.table.backgroundColor.242}; }*/
/*table.contenttable-color-243 { background-color: {$styles.content.table.backgroundColor.243}; }*/
/*table.contenttable-color-244 { background-color: {$styles.content.table.backgroundColor.244}; }*/





/* _________________________*/



	.nowrap-link {
	white-space: nowrap;
}
.nowrap-link img{
	margin: 0 3px;
}


.news .article .news-img-wrap a {border: none;}
.news .news-list-view {margin-top: 10px;}
.news .news-list-view .news-img-wrap {margin-top: -4px;}
.news-single .article .news-img-wrap {float: none;width: 100%;margin: 0;}
.news .article .news-img-wrap a {padding: 4px 0}
.news .article .news-img-wrap a img{width: 100%;}
.ka-conclusion {margin-top: 30px;}
#layout3.news .article .news-img-wrap {float: none;}
/*Beschriftung News Detail*/
#content .news-single .news-img-caption a {font-size: 13px;}


#wrapper .ui-state-default a, #wrapper  .ui-state-default a:link, #wrapper .ui-state-default a:visited {
	color: #56A03B;
	text-decoration: none;
}

.article-cats .text-rubrik {
	display: none !important;
}




/*Anpassungen 2018-09-06*/
.bodytext .mail img,
.bodytext .external-link-new-window img,
.bodytext .internal-link img {
	width: 0.7em !important;
	margin-right: 3px;
}


#masthead-top {
	position: relative;
	z-index: 1;
	top: 0;
	left: 16px;
}
#masthead-bottom {
	position: relative;
}
#masthead-bottom * {
	box-sizing: border-box;
}
#masthead-bottom #carsSearch{
	position: absolute;
	width: 220px;
	height: 30px;
	padding:0;
	top: 20px;
}
@media (max-width: 768px){
	#masthead-bottom #carsSearch {
		position: absolute;
		right: 20px !important;
		left:unset;
	}
}
@media (min-width: 769px) and (max-width: 991px){
	#masthead-top {
		position: relative;
		z-index: 1;
		top: 0;
		left: 50px;

	}
	#masthead-top img{
		width: 80% !important;
	}
	#masthead-bottom #carsSearch {
		position: absolute;
		right: 240px !important;
		left:unset;
	}
}
@media (min-width: 992px) and (max-width: 1049px){
	#masthead-bottom #carsSearch {
		position: absolute;
		right: 237px !important;
		left:unset;
		width: 150px;
	}
	#masthead-bottom #carsSearch #ke_search_sword{
		width: 150px;
	}
}

@media (min-width: 1050px) {
	#masthead-bottom #carsSearch {
		position: absolute;
		right: 237px !important;
		left:unset;
	}
}


#shop-button a{
	background-color: #721181;
	color: #fff;
	padding: 5px 15px;
	border-radius: 8px;

	font-size: 15px;
	display: inline-block;
	line-height: 1em;
}
#shop-button {
	text-align: right;

	width: 440px;
	height: 25px;
	display: block;
	overflow: hidden;
}